@model Fin.Models.Destination

@{
    ViewBag.Title = "Delete";
}
@{
    Layout = "~/Views/Shared/_LayoutBusinessUser.cshtml";

}

<h3 style="margin-top:50px; margin-left:30px">You didn't have access to delete it Please contact at leadtotravel@gmail.com to delete this.</h3>