
@{
    ViewBag.Title = "IndexVisiter";
}
@{
    // Layout = "~/Views/Shared/_LayoutBusinessUser.cshtml";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutVisiter.cshtml";
}
<h2>IndexVisiter</h2>


<div class="main clearfix">
    <div class="main_1 clearfix">
        <section id="center">
            <div class="banner">
                <div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
                    <!-- Wrapper-for-Slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <!-- First-Slide -->
                            <img src="~/Content/Visiter/img/carousal-6.jpg" alt="" class="img-responsive">
                            <div class="carousel-caption kb_caption kb_caption_right">
                                <h3 data-animation="animated flipInX" class=""> Neelam Vally<br> <span class="dollar_2">Azad Kashmir</span></h3>
                                <h4 data-animation="animated flipInX" class="">START<br> <span class="dollar_1">12000</span></h4>
                            </div>
                        </div>
                        <div class="item">
                            <!-- Second-Slide -->
                            <img src="~/Content/Visiter/img/carousal-4.jpg" alt="" class="img-responsive">
                            <div class="carousel-caption kb_caption kb_caption_right">
                                <h3 data-animation="animated fadeInDown">Hunza<br> <span class="dollar_2">Gilgit</span></h3>
                                <h4 data-animation="animated fadeInUp">START<br> <span class="dollar_1">15000</span></h4>
                            </div>
                        </div>
                        <div class="item">
                            <!-- Third-Slide -->
                            <img src="~/Content/Visiter/img/carousal-1.jpg" alt="" class="img-responsive">
                            <div class="carousel-caption kb_caption kb_caption_center">
                                <h3 data-animation="animated fadeInLeft">Swat Vally<br><span class="dollar_2">Khyber </span></h3>
                                <h4 data-animation="animated flipInX"> START <br><span class="dollar_1">14000</span></h4>
                            </div>
                        </div>
                    </div>
                    <!-- Left-Button -->
                    <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
                        <span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <!-- Right-Button -->
                    <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                        <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <script src="js/custom.js"></script>
            </div>

        </section>
    </div>
    <div class="main_2 clearfix">
        <section id="booking">
            <div class="container">
                <div class="row">
                    <div class="booking clearfix">

                        <div class="col-sm-4">
                            <div class="booking_middle clearfix">
                                <div class="grid clearfix">

                                    <figure class="effect-goliath">
                                        <img src="~/Content/Visiter/img/carousal-5.jpg" alt="img24" />
                                        <figcaption>
                                            <h2>Lake<span>khyber</span></h2>
                                            <p>11000</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="booking_middle clearfix">
                                <div class="grid clearfix">

                                    <figure class="effect-goliath">
                                        <img src="~/Content/Visiter/img/carousal-2.jpg" alt="img24" />
                                        <figcaption>
                                            <h2>Neelam velly <span>Hunza</span></h2>
                                            <p>13000</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="booking_middle clearfix">
                                <div class="grid clearfix">

                                    <figure class="effect-goliath">
                                        <img src="~/Content/Visiter/img/carousal 8.jpg" alt="img24" />
                                        <figcaption>
                                            <h2>Mounoument <span>Islamabad</span></h2>
                                            <p>5000</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<section id="offers">
    <div class="container">
        <div class="row">
            <div class="offers clearfix">
                <div class="col-sm-3">
                    <div class="offers_left">
                        <h2>Trending Best<br> Offers</h2>
                        <p>Explore exciting destinations and create unforgettable memories with our handpicked selection of top-rated experiences.</p>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="offers_right">
                        <div id="Carousel" class="carousel slide">

                            <ol class="carousel-indicators">
                                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#Carousel" data-slide-to="1"></li>
                                <li data-target="#Carousel" data-slide-to="2" class=""></li>
                            </ol>

                            <!-- Carousel items -->
                            <div class="carousel-inner">

                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/Attabad lake.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>Attabad lake</h6>
                                                <p>Discount up to 20%</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/Badshahi Mosque.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>Badshahi Mosque</h6>
                                                <p>Discount up to 30%</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/Baltoro Glacier.jpeg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>Baltoro Glacier</h6>
                                                <p>Discount up to 5%</p>
                                            </div>
                                        </div>

                                    </div><!--.row-->
                                </div><!--.item-->

                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/jahaz banda kumrat valley.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>jahaz banda kumrat valley</h6>
                                                <p>Discount up to 3%</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/kalam valley.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>kalam valley</h6>
                                                <p>Discount up to 10%</p>
                                            </div>
                                        </div>
                                       

                                    </div><!--.row-->
                                </div><!--.item-->

                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/kanhatti gardens.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>kanhatti gardens</h6>
                                                <p>Discount up to 15%</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/Katas raj temple.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>Katas raj temple</h6>
                                                <p>Discount up to 20%</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/karambar lake.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>karambar lake</h6>
                                                <p>Discount up to 10%</p>
                                            </div>
                                        </div>

                                    </div><!--.row-->
                                </div><!--.item-->

                            </div><!--.carousel-inner-->
                            <a data-slide="prev" href="#Carousel" class="left carousel-control control_1">‹</a>
                            <a data-slide="next" href="#Carousel" class="right carousel-control control_1">›</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offers clearfix border_none_1">
                <div class="col-sm-3">
                    <div class="offers_left">
                        <h2>Popular <br>Deals</h2>
                        <p>Discover the magic of popular places, where captivating landscapes and rich cultures await your exploration.</p>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="offers_right">
                        <div id="Carousel_1" class="carousel slide">

                            <ol class="carousel-indicators">
                                <li data-target="#Carousel_1" data-slide-to="0" class="active"></li>
                                <li data-target="#Carousel_1" data-slide-to="1"></li>
                                <li data-target="#Carousel_1" data-slide-to="2" class=""></li>
                            </ol>

                            <!-- Carousel items -->
                            <div class="carousel-inner">

                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/karambar lake.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>karambar lake</h6>
                                                <p>Discount up to 10%</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/Katas raj temple.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>Katas raj temple</h6>
                                                <p>Discount up to 20%</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/kanhatti gardens.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>kanhatti gardens</h6>
                                                <p>Discount up to 15%</p>
                                            </div>
                                        </div>

                                    </div><!--.row-->
                                </div><!--.item-->

                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="#" class=""><img src="~/Images/recipe1.jpg" alt="Image" style="max-width:100%;"></a>
                                            <div class="item_inner clearfix">
                                                <h6>Australia Valleys</h6>
                                                <p>Discount up to 20%</p>
                                            </div>
                                        </div>
                                       
                                    </div><!--.row-->
                                

                              

                            </div><!--.carousel-inner-->
                            <a data-slide="prev" href="#Carousel_1" class="left carousel-control control_1">‹</a>
                            <a data-slide="next" href="#Carousel_1" class="right carousel-control control_1">›</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

