




@media (min-width:768px){.navbar-default{background:none;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s;border:0}.navbar-default .navbar-brand{-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}.navbar-default .navbar-nav>.active>a{}.navbar-default.navbar-shrink{background-color:#fff!important;
padding-top:5px!important; padding-bottom:5px!important;} .navbar-shrink .navbar-brand{ font-size:18px!important;}}

